asgiref==3.7.2
blinker==1.4
cryptography==3.4.8
distro==1.7.0
Django==3.2.11
django-filter==2.4.0
djangorestframework==3.14.0
Markdown==3.5.2
pytz==2022.1
sqlparse==0.4.4
typing-extensions==4.9.0
Cython==0.29.24

